<section id="portfolio">
	= render partial: 'layouts/header'
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="wow bounceIn animated" style="visibility: visible; animation-name: bounceIn;">Recent work I've done during free time...</h2>
				<hr>
   			<div class="iso-box-section">
   			 	<div class="iso-box-wrapper col4-iso-box">
   				 	<div class="iso-box graphic photoshop wallpaper col-md-6">
   				 		<div class="portfolio-thumb">
   				 			<a href="https://chatwithfriendz.herokuapp.com/" data-lightbox-gallery="portfolio-gallery">
									img.fluid-img alt=("portfolio img") src=asset_path('portfolio-img1.jpg')
									<div class="portfolio-overlay">
										<i class="fa fa-link"></i>
										<h4>Live Chat Application</h4>
									</div>
   				 			</a>
   				 		</div>
   				 	</div>
   				 	<div class="iso-box graphic wallpaper col-md-6">
   				 		<div class="portfolio-thumb">
   				 			<a href="https://user-auth-example.herokuapp.com/" data-lightbox-gallery="portfolio-gallery">
									img.fluid-img alt=("portfolio img") src=asset_path('portfolio-img2.jpg')
									<div class="portfolio-overlay">
										<i class="fa fa-link"></i>
										<h4>User Authentication with Devise Gem and Bootstrap Modal</h4>
									</div>
   				 			</a>
   				 		</div>
   				 	</div>
   				 	<div class="iso-box wallpaper col-md-12" style="position: relative; height: 350px">
   				 		<div class="portfolio-thumb">
   				 			<a href="#" data-lightbox-gallery="portfolio-gallery">
									img.fluid-img alt=("portfolio img") src=asset_path('portfolio-img5.jpg')
									<div class="portfolio-overlay">
										<i class="fa fa-link"></i>
										<h4>Currently working on web application where Rails 5 is used as Backend and Angular as Frontend </h4>
									</div>
   				 			</a>
   				 		</div>
   				 	</div>
 				 	</div>
 				</div>
			</div>
		</div>
	</div>
</section>
