section#home
  = render partial: 'layouts/header'
  .container
    .row
      .col-md-12.col-sm-12.home
        h1.wow.fadeIn.animated data-wow-delay="1s" style=("visibility: visible; animation-delay: 1s; animation-name: fadeIn;")  
          = "HI I'M GANESH."
        h4.wow.fadeIn.animated data-wow-delay="0.9s" style=("visibility: visible; animation-delay: 0.9s; animation-name: fadeIn;") 
          = 'Web Developer'
        a.btn.btn-sm.btn-default.smoothScroll.wow.fadeInUp.animated data-wow-delay="1.3s" href="#portfolio" style=("visibility: visible; animation-delay: 1.3s; animation-name: fadeInUp;") 
          i.fa.fa-angle-double-down style="font-size:30px" 
section#about
  .container
    .row
      .col-md-6
        .about-des
          h3.text-center.row.wow.bounceIn.animated
            = 'about me..!'
          p.row data-wow-delay="0.3s" style=("visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;")  
            = "I am Experienced Web Developer with a demonstrated history of working in the information technology and services industry.Strong engineering professional with a Bachelor's degree focused in Computer Engineering from Sanjivani College of Engineering , Kopargaon."
          p
            = "I love to work on applications where I can add value to a product and create features that make a real difference to the end users."
          .work.row.text-center
            h3.row.wow.bounceIn.animated
              = 'Work !'
            p.row data-wow-delay="0.3s" style=("visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;") 
              = "2016/06 - Present: Ruby on 	Rails Developer @Allerin"
      .col-md-6.skills data-wow-delay="0.9s" style=("visibility: visible; animation-delay: 0.9s; animation-name: fadeIn;") 
        h3.text-center.row.wow.bounceIn.animated
          = "Skills..!"
        .skill-item
          .progress-title
            = "RUBY ON RAILS"
          .progress.wow.fadeIn.animated
            .progress-bar.progress-bar-skill1 aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" style=("width: 70%;") 
              span.sr-only 70
        .skill-item
          .progress-title
            = "JAVASCRIPT"
          .progress.wow.fadeIn.animated
            .progress-bar.progress-bar-skill2 aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" role="progressbar" style=("width: 72%;") 
              span.sr-only 72
        .skill-item
          .progress-title
            = "HTML AND CSS"
          .progress.wow.fadeIn.animated
            .progress-bar.progress-bar-skill3 aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" role="progressbar" style=("width: 74%;") 
              span.sr-only 74
        .skill-item
          .progress-title
            = "Oracle/MySQL DATABASE"
          .progress.wow.fadeIn.animated
            .progress-bar.progress-bar-skill4 aria-valuemax="100" aria-valuemin="0" aria-valuenow="90" role="progressbar" style=("width: 70%;") 
              span.sr-only 70
        .skill-item
          .progress-title
            = "RSPEC"
          .progress.wow.fadeIn.animated
            .progress-bar.progress-bar-skill5 aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" role="progressbar" style=("width: 68%;") 
              span.sr-only 68
      .social-icon.text-center
        li
          a.fa.fa-linkedin.wow.fadeIn.animated data-wow-delay="0.9s" href="https://www.linkedin.com/in/ganeshnavale/" style=("visibility: visible; animation-delay: 0.9s; animation-name: fadeIn;") 
        li
          a.fa.fa-github.wow.fadeIn.animated data-wow-delay="0.9s" href="https://www.facebook.com/navale.ganesh.52" style=("visibility: visible; animation-delay: 0.9s; animation-name: fadeIn;") 
        li
          a.fa.fa-facebook.wow.fadeIn.animated data-wow-delay="0.9s" href="https://www.facebook.com/navale.ganesh.52" style=("visibility: visible; animation-delay: 0.9s; animation-name: fadeIn;") 
        li
          a.fa.fa-twitter.wow.fadeIn.animated data-wow-delay="0.9s" href="https://twitter.com/navale_ganesh" style=("visibility: visible; animation-delay: 0.9s; animation-name: fadeIn;") 
        li
          a.fa.fa-google-plus.wow.fadeIn.animated data-wow-delay="0.9s" href="https://plus.google.com/u/0/+GaneshNavale1" style=("visibility: visible; animation-delay: 0.9s; animation-name: fadeIn;") 
