<section id="home">
  <%= render partial: 'layouts/header' %>
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 home">
				<h1 class="wow fadeIn animated" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeIn;">HI I'M GANESH.</h1>
				<h4 class="wow fadeIn animated" data-wow-delay="0.9s" style="visibility: visible; animation-delay: 0.9s; animation-name: fadeIn;">Web Developer
        </h4>
				<a href="#portfolio" class="btn btn-sm btn-default smoothScroll wow fadeInUp animated" data-wow-delay="1.3s" style="visibility: visible; animation-delay: 1.3s; animation-name: fadeInUp;">
					<i class="fa fa-angle-double-down" style="font-size:30px"></i>
				</a>
			</div>
		</div>
	</div>
</section>

<section id="portfolio">
	<div class="container">
		<div class="row">

			<div class="col-md-12">
				<h2 class="wow bounceIn animated" style="visibility: visible; animation-name: bounceIn;">Recent work I've done during free time...</h2>
				<hr>
   			<!-- iso box section -->
   			<div class="iso-box-section">

   			 	<div class="iso-box-wrapper col4-iso-box">

   				 	<div class="iso-box graphic photoshop wallpaper col-md-6">
   				 		<div class="portfolio-thumb">
   				 			<a href="https://chatwithfriendz.herokuapp.com/" data-lightbox-gallery="portfolio-gallery">
   				 				<img src="<%= asset_path('portfolio-img1.jpg') %>" class="fluid-img" alt="portfolio img">
								<div class="portfolio-overlay">
									<i class="fa fa-link"></i>
									<h4>Live Chat Application</h4>
								</div>
   				 			</a>
   				 		</div>
   				 	</div>

   				 	<div class="iso-box graphic wallpaper col-md-6">
   				 		<div class="portfolio-thumb">
   				 			<a href="https://user-auth-example.herokuapp.com/" data-lightbox-gallery="portfolio-gallery">
   				 				<img src="<%= asset_path('portfolio-img2.jpg') %>" class="fluid-img" alt="portfolio img">
   				 					<div class="portfolio-overlay">
   				 						<i class="fa fa-link"></i>
   				 						<h4>User Authentication with Devise Gem and Bootstrap Modal</h4>
                    </div>
   				 			</a>
   				 		</div>
   				 	</div>

   				 	<div class="iso-box wallpaper col-md-12" style="position: relative; height: 350px">
   				 		<div class="portfolio-thumb">
   				 			<a href="#" data-lightbox-gallery="portfolio-gallery">
   				 				<img src="<%= asset_path('portfolio-img5.jpg') %>" class="fluid-img" alt="portfolio img">
   				 					<div class="portfolio-overlay">
   				 						<i class="fa fa-link"></i>
   				 						<h4>Currently working on web application where Rails 5 is used as Backend and Angular as Frontend </h4>
                    </div>
   				 			</a>
   				 		</div>
   				 	</div>




<!-- =========================
    ABOUT SECTION
============================== -->
<section id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<!-- about des -->
				<div class="about-des">
          <h3 class='text-center row wow bounceIn animated'> about me..<span>!</span></h3>
          <br>
					<p class="row" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">I am Experienced Web Developer with a demonstrated history of working in the information technology and services industry.Strong engineering professional with a Bachelor's degree focused in Computer Engineering from Sanjivani College of Engineering , Kopargaon. </p>
					<p>
						I love to work on applications where I can add value to a product and create features that make a real difference to the end users.
					</p>

			  	<div class='work row text-center'>
			    	<h3 class=' row wow bounceIn animated'> Work<span>!</span></h3>
			      <p class="row" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;"> 2016/06 - Present: Ruby on 	Rails Developer @Allerin
			      </p>
			    </div>
				</div>
			</div>
      <div class="col-md-6 skills" data-wow-delay="0.9s" style="visibility: visible; animation-delay: 0.9s; animation-name: fadeIn;">

          <h3 class='text-center row wow bounceIn animated'> Skills..<span>!</span></h3>
          <div class="skill-item">
              <div class="progress-title">
                  RUBY ON RAILS
              </div>
              <div class="progress wow fadeIn animated">
                  <div class="progress-bar progress-bar-skill1" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                      <span class="sr-only">70</span>
                  </div>
              </div>
          </div>

          <div class="skill-item">
              <div class="progress-title">
                  JAVASCRIPT
              </div>
              <div class="progress wow fadeIn animated">
                  <div class="progress-bar progress-bar-skill2" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 72%;">
                      <span class="sr-only">72</span>
                  </div>
              </div>
          </div>

          <div class="skill-item">
              <div class="progress-title">
                  HTML AND CSS
              </div>
              <div class="progress wow fadeIn animated">
                  <div class="progress-bar progress-bar-skill3" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 74%;">
                      <span class="sr-only">74</span>
                  </div>
              </div>
          </div>

          <div class="skill-item">
              <div class="progress-title">
                   Oracle/MySQL DATABASE
              </div>
              <div class="progress wow fadeIn animated">
                  <div class="progress-bar progress-bar-skill4" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                      <span class="sr-only">70</span>
                  </div>
              </div>
          </div>

          <div class="skill-item">
              <div class="progress-title">
                  RSPEC
              </div>
              <div class="progress wow fadeIn animated">
                  <div class="progress-bar progress-bar-skill5" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 68%;">
                      <span class="sr-only">68</span>
                  </div>
              </div>
          </div>
        <div class='social-icon text-center'>
        	<br>
          <li class=""><a href="https://www.linkedin.com/in/ganeshnavale/" class="fa fa-linkedin wow fadeIn animated" data-wow-delay="0.9s" style="visibility: visible; animation-delay: 0.9s; animation-name: fadeIn;"></a></li>
          <li class=""><a href="https://www.facebook.com/navale.ganesh.52" class="fa fa-github wow fadeIn animated" data-wow-delay="0.9s" style="visibility: visible; animation-delay: 0.9s; animation-name: fadeIn;"></a></li>
          <li class=""><a href="https://www.facebook.com/navale.ganesh.52" class="fa fa-facebook wow fadeIn animated" data-wow-delay="0.9s" style="visibility: visible; animation-delay: 0.9s; animation-name: fadeIn;"></a></li>
          <li class=""><a href="https://twitter.com/navale_ganesh" class="fa fa-twitter wow fadeIn animated" data-wow-delay="0.9s" style="visibility: visible; animation-delay: 0.9s; animation-name: fadeIn;"></a></li>
          <li class=''><a href="https://plus.google.com/u/0/+GaneshNavale1" class="fa fa-google-plus wow fadeIn animated" data-wow-delay="0.9s" style="visibility: visible; animation-delay: 0.9s; animation-name: fadeIn;"></a></li>
        </div>
      </div>

    </div>
	</div>
</section>