
a {
  color: #4fbfa8;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #348e7b;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.img-rounded {
  border-radius: 0;
}
hr {
  margin-top: 22px;
  margin-bottom: 22px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

h2 {text-align: center;}

h3 {letter-spacing: 1px;}


/*---------------------------------------
   0 General               
-----------------------------------------*/

/* portfolio, about */
#portfolio, #about {
    padding-top: 80px;
}

/* portfolio, footer */
#portfolio .container, footer .container {

}
#portfolio .col-md-4, footer .col-md-4 {
    padding: 10;
    margin: 0;
}

/*hr*/
hr {
    border: 1px solid #333333;
    width: 100px;
    margin-top: 40px;
    margin-bottom: 80px;
}



/*---------------------------------------
   1 Preloader section              
-----------------------------------------*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.sk-rotating-plane {
  width: 30px;
  height: 30px;
  background-color: #333333;
  border-radius: 2px;
  -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
          animation: sk-rotatePlane 1.2s infinite ease-in-out; }

@-webkit-keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

@keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }



.hide {
    display: none;
}

/*---------------------------------------
   3 Home section              
-----------------------------------------*/
#home {
    background: asset-data-url('home.jpg') no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    color: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
     -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
    height: 100vh;
    width: 100%;
    text-align: center;    
}

#home h1 {
	font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
}

.home {
  padding-top: 250px;
}

#home .btn {
    background: #ccc;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 12px;
    padding: 14px 42px;
    margin-top: 42px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    opacity: 0.7;
}

#home .btn:hover {
    background: #1385F9;    
    border-color: transparent;
}

/*---------------------------------------
   5 Portfolio section              
-----------------------------------------*/
#portfolio {
    background: #ffffff;
    border-top: 1px solid #eeeeee;
}

#portfolio .portfolio-thumb {
    overflow: hidden;
    margin: 0;
    position: relative;
} 

#portfolio .portfolio-thumb .portfolio-overlay {
    background: #007FFF;
    color: #ffffff;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 80px 60px 0px 60px;
    vertical-align: middle;
    text-align: center;
    position: absolute;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#portfolio .portfolio-thumb:hover .portfolio-overlay {
    opacity: 0.9;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#portfolio .portfolio-thumb .portfolio-overlay .fa {
    background: #ffffff;
    border-radius: 100px;
    color: #007FFF;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    margin-right: 6px;
    margin-bottom: 12px;
    position: relative;
}

/*filter css*/
.filter-wrapper {
    width: 100%;
    margin: 0 0 42px 0;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}

.filter-wrapper li {
    display: inline-block;
    margin: 4px;
}

.filter-wrapper li a {
    border: 1px solid #333333;
    border-radius: 4px;
    color: #1486FA;
    font-weight: 600;
    padding: 8px 17px;
    display: block;
    text-decoration: none;
}
.filter-wrapper li a:hover,
.filter-wrapper li a:focus {
    background: #333333;
    color: #ffffff;
}

/*isotope box css*/
.iso-box-section {
    width: 100%;
}

.iso-box-wrapper {
    width: 100%;
    padding: 0;
    clear: both;
    position: relative;
}

.iso-box {
    position: relative;
    min-height: 50px;
    float: left;
    overflow: hidden;
    margin-bottom: 20px;
}

.iso-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
} 

.fluid-img {
    width: 100%;
    display: block;
}


/*---------------------------------------
   7 Contact section              
-----------------------------------------*/
#contact {
    background: #101010;
    color: #ffffff;
    height: 800px;
}

#contact .form-control {
    background: transparent;
    box-shadow: none;
    color: #ffffff;
    margin-bottom: 20px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#contact .form-control:focus,
#contact .form-control:hover {
    background: #404040;
    border-color: transparent;
}

#contact input {
    height: 50px;
}

#contact input[type="submit"] {
    background: #0081FF;
    border-color: transparent;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 2px;
}

.left-inner-addon {
    position: relative;
}

.left-inner-addon input,
.left-inner-addon textarea {
    padding-left: 30px;
}

.left-inner-addon span {
    color: #0081FF;
    position: absolute;
    padding:  18px 12px;
    pointer-events: none;
}



/*---------------------------------------
   8 Footer section              
-----------------------------------------*/
footer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}


/*---------------------------------------
   10 Social icon             
-----------------------------------------*/

.social-icon li {
    list-style: none;
}

.social-icon li a {
    background: #000000;
    border-radius: 4px;
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    margin-right: 12px;
}

.social-icon li a:hover {
    background: #007FFF;
}

#home .navbar-fixed-top {
  text-align: center;
}

/*---------------------------------------
   11 Responsive styles            
-----------------------------------------*/

@media screen and ( max-width: 980px ){

#portfolio .portfolio-thumb .portfolio-overlay {
    padding-top: 80px;
}

#about .about-des h1 {
    font-size: 50px;
 } 

}

@media screen and ( max-width: 800px ){

  h2, #about .about-des h1 {
    font-size: 40px;
  }

}

@media (max-width: 767px) {
    .custom-navbar .navbar-brand {line-height: 15px;}
}

@media screen and ( max-width: 768px ){

footer .facebook, footer .twitter, 
footer .instagram {
    padding: 40px 30px 80px 30px;
 }
}

@media screen and ( max-width: 601px ) {
  #home .navbar-fixed-top {
    text-align: right;
  }
}

@media screen and ( max-width: 360px ) {

  #home h1 {
    font-size: 23px;
    line-height: 15px;
  }

  #portfolio .portfolio-thumb .portfolio-overlay {
    padding: 20px 60px 0px 60px;
  }

  #portfolio h4 {
    font-size: 14px;
  }
  #portfolio p {
    font-size: 10px;
  }
}

#about {
    line-height: 25px; 
    float:none !important; 
    margin-top: 100px;
    margin-bottom:  100px;  
}

.error {
  color: red;
}

.navbar-toggle .icon-bar { 
  background: #1385F9;
  border-color: transparent;
}

.nav-link.active {
  background: #1385F9;
}

.work h3, .about-des h3, .skills h3 {
    color: #393b3a;
    font-family: "Nunito-Bold";
    font-size: 2.5em;
    text-transform: capitalize;
}

.work p, .about-des p {
  margin: 20px;
  font-style: italic;
  font-size: 20px;
}

footer, .send_msg {
  margin: 20px;
  padding: 10px;
}

.form-group {
  font-size: 18px; 
}

.section-layout {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
}

.description {
  height: 300px;
  background: #EEEEEE;
}

.blog-content {
  background: #FEFAE2;
}

.blog-content a {
  color: #0694E5;
}

.blog-content a:hover {
  color: #62DFE4;
}

.navbar-fixed-top h1 {
	color: #fff
}

.orange {
	color: #df6113;
}