<div class="navbar-fixed-top" role="navigation">
	<div class="wrap">		
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>		
		</div>
		<span class="decor"></span>
		<nav class="collapse navbar-collapse">
			<ul class="primary">
				<li class='nav-link active'> <a href="#home">HOME</a> </li>
				<li class='nav-link'> <a href="#portfolio">PORTFOLIO</a> </li>
				<li class='nav-link'> <a href="#about">ABOUT ME</a> </li>
				<li class='nav-link'> <a href="#contact">CONTACT</a> </li>
			</ul>
		</nav>
	</div>
</div>