<section class="navbar navbar-fixed-top custom-navbar nav-tabs" role="navigation">
	<div class="container">

		<!-- navbar header -->
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>
		</div>

		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="nav-link active"><a href="#home" class="smoothScroll">Home</a></li>
				<li class="nav-link"><a href="#portfolio" class="smoothScroll">Portfolio</a></li>
				<li class="nav-link"><a href="#about" class="smoothScroll">About Me</a></li>
				<li class="nav-link"><a href="#contact" class="smoothScroll">Contact</a></li>
			</ul>
		</div>

	</div>
</section>